:root {
  --background-body: #f7f7f7;
  --background-content: #fff;
  --cor-principal: #000;
  --cor-botao: #e21;
  --cor-botao-hover: #900;
  --subtitulo: #c6c6c6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-body: gray;
    --background-content: #000;
    --vantagens-cor: #f7f7f721;
    --cor-principal: #fff;
    --cor-botao: #e21;
    --cor-botao-hover: #900;
    --subtitulo: #c6c6c6;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
  background-color: var(--background-body);
}

img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.header {
  display: grid;
  gap: 60px;
  justify-items: center;
}

.menu {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu a {
  display: block;
  background: var(--background-content);
  padding: 1rem 2rem;
  border-radius: 4px;
  color: var(--cor-principal);
  text-transform: uppercase;
  border: 2px solid var(--background-content);
}

.menu a:hover {
  border-color: var(--cor-botao);
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background: var(--background-content);
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
  color: var(--cor-principal);
}

.introducao h1 {
  font-size: 2rem;
}

.introducao::before {
  content: "";
  width: 60px;
  height: 4px;
  background: var(--cor-botao);
  position: absolute;
  top: 30px;
  right: -30px;
}

.botao {
  background: var(--cor-botao);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.botao:hover {
  background: var(--cor-botao-hover);
}

@media (max-width: 600px) {
  .introducao::before {
    display: none;
  }

  .introducao {
    grid-template-columns: 1fr;
    grid-column: 1 / -1;
    justify-items: start;
    text-align: left;
  }

  .foto-principal {
    grid-column: 1 / -1;
  }
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--subtitulo);
  text-align: right;
  padding: 40px;
  align-self: center;
  background-image: var(--background-body) url("./img/onda.svg");
}

.vantagens {
  background: var(--background-content);
  padding: 40px;
  color: var(--cor-principal);
}

@media (max-width: 1000px) {
  .subtitulo {
    grid-column: 1 / -1;
    text-align: center;
  }

  .vantagens {
    grid-column: 1 / 3;
  }
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
  border-left: 4px solid transparent;
}

.vantagens-item:nth-child(odd) {
  background: var(--vantagens-cor);
}

.vantagens-item:hover {
  border-color: #e21;
}

.vantagens-item p {
  grid-column: 2;
}

.rodape {
  background: var(--background-content);
  color: var(--cor-principal);
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .conteudo-vantagem {
    grid-template-columns: 1fr;
  }
  .subtitulo {
    text-align: center;
  }
}

@media (max-width: 600px) {
  body {
    margin-top: 20px;
    gap: 30px;
  }

  .header {
    gap: 30px;
  }

  .conteudo {
    grid-template-columns: 1fr;
    justify-items: start;
    text-align: left;
  }

  .introducao::before {
    display: none;
  }

  .subtitulo {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .subtitulo {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}
